<strong>Olá, {{ deliveryman }}</strong>
<p>Uma de suas encomendas foi cancelada por um administrador, confira os detalhes abaixo:</p>
<p>
  <strong>ID da encomenda: </strong> {{ order }} <br />
  <strong>Descrição: </strong> {{ description }} <br />
  <br />
  <small>
    Para mais informações, contate a distruibuidora Fastfeet.
  </small>
</p>
